* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: url("../images/background.jpg");
}

#wrapper {
    margin: 0 auto;
    width: 60%;
}

#header {
    color: #333;
    width: 100%;
    height: 13%;
    float: left;
    border: 0px solid #C0C0C0;
    height: 13%;
    margin: 0px 0px 0px 0px;
    background: #F3F2ED url("../images/Final_final%20header.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

#navigation {
    float: left;
    width: 99.88%;
    color: #333;
    margin: 0px 0px 0px 0px;
    background-color: white;
    border: 1px solid #C0C0C0;
    box-shadow: 0 0 10px #333;

}

#leftcolumn {
    color: #333;
    margin: 0px 0px 0px 0px;
    padding: 1%;
    border: 1px solid #C0C0C0;
    height: 75%;
    width: 69.6%;
    float: left;
    background: url("../images/headerBack.gif") repeat-x scroll 0 0 #fff;
    z-index: 999;
    box-shadow: 0 0 10px #333;
}

#rightcolumn {
    float: right;
    padding: 1%;
    border: 1px solid #C0C0C0;
    color: #333;
    margin: 0px 0px 0px 0px;
    height: 75%;
    width: 26.051%;
    display: inline;
    background: url("../images/headerBack.gif") repeat-x scroll 0 0 #fff;
    z-index: 999;
    position: relative;
    box-shadow: 0 0 10px #333;
}

#botton {
    float: left;
    width: 99.7%;
    height: 4%;
    color: #333;
    padding: 0.1%;
    border: 1px solid #C0C0C0;
    margin: 0px 0px 0px 0px;
    background-color: #F3F2ED;
    box-shadow: 0 0 10px #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
}

li {
    float: left;

}

#navigation > ul > li {
    width: 25%;
}

#botton > a {
    width: 60px;
    height: 10px;
    margin: 0 auto;

}

a:link, a:visited {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #41A2D7;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #000080;
}

#navigation > ul > li > a:link, #navigation > ul > li > a:visited {
    display: block;
    font-weight: bold;
    color: #41A2D7;
    background: url("../images/headerBack.gif") repeat-x scroll 0 0 #fff;
    z-index: 999;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#navigation > ul > li > a:hover, #navigation > ul > li > a:active {
    color: #000080;
    background: url("../images/headerBack.gif") repeat-x scroll 0 0 #fff;
    z-index: 999;
}

.generalForm {
    margin: 0 auto;
    box-shadow: 0 0 10px #666;
    border: 1px solid #a7b4ca;
    z-index: 10;
    background-color: #FFFFFF;
    color: #4c4c4c;
    background-color: #E6E9EA;
    font: .75em Arial, Helvetica, 'MS Sans Serif', sans-serif;
}
.generalPane {
    display:block;
    height:350px;
}

#mainForm {
    position: absolute;
    width: 320px;
    height: 419px;
}

#largeForm {
    width: 90%;
    height: 419px;
    margin: 0 auto;
    display: none;
}

#smallForm {
    width: 320px;
    height: 419px;
    float: right;
    display: none;
}

#infoForm {
    margin: 0 auto;
    width: 250px;
    height: 667px;
    display: none;
    background-color: #ffffff;
}

#listForm {
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

#mainForm h2.first, #smallForm h2.first, #largeForm h2.first, #infoForm h2.first {
    text-align: center;
    border-top: 0px !important;
}

#mainForm h2.current, #smallForm h2.current, #largeForm h2.current, #infoForm h2.current {
    cursor: default;
    color: #fff;
    background-color: #48679e;
    border: 0px;
}

#mainForm h2, #smallForm h2, #largeForm h2, #largeForm form, #infoForm form {
    background: #e7e7e7;
    margin: 0;
    padding: 8px 15px;
    padding-left: 2.2em;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    display: block;
    zoom: 1;

}

#mainForm .pane, #smallForm .pane, #largeForm .pane, #infoForm .pane {
    background: url("../images/headerBack.gif") repeat-x scroll 0 0 #fff;
    z-index: 999;
    color: #4c4c4c;
    font: 1.2em Arial, Helvetica, 'MS Sans Serif', sans-serif;

}

.loginForm {
    margin: 0 auto;
    text-align: center;
    padding: 6%;
}

.loginForm {
    text-align: center;
    padding: 10%;
}

.loginForm {
    text-align: center;
    padding: 6%;
}

.bestoffers {
    height: 200px;
    padding: 2%;
    font: 2em Arial, Helvetica, 'MS Sans Serif', sans-serif;
    color: #4c4c4c;
}

.errorMessage {
    color: #b81900;
}

#purchaseButton {
    display: none;
}
.languageForm{
    margin-left: 40%;

}
input[type]:required:invalid, input[type]:focus:invalid {
    background-image: url(../images/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;
}
input[type]:required:valid {
    background-image: url(../images/valid.png);
    background-position: right top;
    background-repeat: no-repeat;
}


