.error-message {
	color: #ff0000;
}


.ui-widget-header {
    background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x !important;
    color: #222222;
    font-weight: bold;
    height:23px
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
   
    color: #151617 !important;
    font-weight: normal !important;
}

.ui-widget-header ul {
    height:21px;   
}

.ui-tabs .ui-tabs-nav li {
    height:21px;
    font-size:19px;

}

.ui-tabs .ui-tabs-nav li a {
    position:relative;
    top:-12px  
}





.ui-button .ui-button-text
{
 line-height: 1.0;
}



.small-button {
   font-size: .8em !important;
}


.ui-button-text {
   font-size: inherit !important;
} 

.news-form {
	text-align: center;
	padding: 6%;
	overflow: auto;
}

.tag-list {
	color: gray;
	font-size: 120%;
}

.main-news-title {
	float: left;
	font-size: 120%;
	color: black;
}

.news-title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	float: left;
	font-size: 120%;
	color: black;
}

.news-author {
	float: left;
}
.main-news-author {
	float: right;
}

.modification-date {
	float: right;
	text-decoration: underline;
}

.short-text {
	float: left;
}

.comment-form {
	margin: 0 auto;
	text-align: center;
	padding: 10%;
	padding-top: 10%;
	width: 70%;
	height: 15%;
	overflow: scroll;
	width: 70%;
}

.comment-creation-date {
	float: left;
	text-decoration: underline;
}

.comment-text {
	background-color: #DCDCDC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.new-comment-text {



}

.delete-button {
	float: right;
}

.page-switcher {
	margin: 0 auto;
	text-align: center;
}

.page-switcher-top {
	padding-top: 10%;
}
.page-number .selected-page-number {
	padding :0;
	heght:10px;
	width:10px;
}